* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", monospace, sans-serif;
    box-sizing: border-box;
}

html {
    background: url('/images/kfu-logo.png');
    scroll-behavior: smooth;
}

body {
    backdrop-filter: blur(5px);
}

/* Header section */
.logo-section img {
    width: 85px;
    height: 80px;
}

.header, .navbar-menu {
    display: flex;
}

.navbar-menu li {
    list-style-type: none;
    margin-right: 18px;
    font-size: 22px;
    transition: text-decoration 1s, font-weight 3s;
}

.link-active {
    text-decoration: none;
}

.navbar-menu li a:hover {
    font-weight: bolder;
    text-decoration: underline solid blue;
}

.header {
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 5px 10px;
    background-color: #cfcbcb48;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: -5px -5px 10px blue;
}

.logo-section {
    margin-right: 150px;
}

.logo-section img {
    cursor: pointer;
    border-radius: 50px;
    transition: box-shadow 300ms;
}

.logo-section img:hover {
    box-shadow: 6px 5px 20px -10px blue;
}

/* Body section */
.main-body {
    background-color: inherit;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-welcome p {
    font-size: 44px;
    font-weight: 600;
    color: rgb(24, 24, 240);
}

.typewriter p {
    overflow: hidden;
    border-right: .15em solid rgb(24, 24, 240);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(100, end),
        blink-caret .3s step-end infinite
    ;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent}
    50% { border-color: blue;}
}

/* form styling */
.div-form {
    padding: 26px;
    margin-top: 50px;
    box-shadow: 5px 5px 100px rgba(220, 20, 60, 0.226);
    border: none;
}

.div-form p,
#div-respond-form h3, .required {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    color: rgba(255, 60, 0, 0.774);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input {
    display: block;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 253, 0.938);
    font-size: 36px;
    padding: 5px 0px 10px 5px;
    margin-bottom: 15px;
    width: 100%;
}

.login-form input:nth-child(5),
.comment-form input[type='submit'] {
    border: 1px solid  rgba(0, 0, 253, 0.938);
    border-bottom-right-radius: 10px;
    font-size: 24px;
    border-top-left-radius: 10px;
    margin-top: 30px;
    width: 150px;
    background-color: white;
    cursor: pointer;
    transition: background-color 600ms, color 300ms, font-weight 600ms;
}

.login-form input:nth-child(5):hover,
.comment-form input[type='submit']:hover {
    background-color:  rgba(15, 15, 255, 0.863);
    color: #ffffff;
    font-weight: 300;
}

/* About-me section */
.bio {
    display: flex;
    flex-flow: nowrap;
}

.author-figure {
    border-right: 1px solid blue;
    border-radius: 2px;
    box-shadow: 5px 10px 15px 10px rgba(45, 45, 223, 0.616);
    border-bottom-right-radius: 30px;
    border-top-left-radius: 15px;
    display: flex;
    font-weight: bold;
}

.figure-picture {
    width: 200px;
    border-radius: inherit;
    height: 200px;
}

.figure-caption {
    padding-left: 40px;
    text-align: wrap;
    font-size: 24px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, jarene, dreamy-wallabies; /* calling-code, roboto, mollen, jarene, */
}

.figure-caption ul li {
    padding-left: 20px;
    list-style-position: inside;
    list-style-type:square;
}

/* Blog section */
.comments-div {
    align-items: flex-start;
}
.div-comment-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 8px;
}

.div-comment-icon img{
    width: 20%;
}

#div-respond-form {
    margin-top: 40px;
    padding: 26px;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
}

#div-respond-form h3, .required {
    font-size: 26px;
    margin-bottom: 10px;
}

.comment-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-form div {
    width: 50%;
    margin-top: 10px;
}

#div-respond-form input[type='text'],
#div-respond-form input[type='email'],
.comment-form input[type='submit'],
#div-respond-form textarea {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border: 1px solid  rgba(0, 0, 253, 0.938);
    padding: 5px 300px 20px 5px;
    border-end-end-radius: 10px;
    font-size: 20px;
}

#div-respond-form textarea  {
    padding-bottom: 120px;
    resize: none;
}

.comment-form input[type='submit'] {
    margin-top: 10px;
    font-size: 18px;
    width: 180px;
    padding: 5px 0px 10px 5px;
}
