* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", monospace, sans-serif;
    box-sizing: border-box;
}

html {
    background: url('/images/kfu-logo.png') no-repeat top;
    scroll-behavior: smooth;
}

body {
    backdrop-filter: blur(5px);
}

/* Navbar section */
.logo-section img {
    width: 85px;
    height: 80px;
}

.header, .navbar-menu {
    display: flex;
}

.navbar-menu li {
    list-style-type: none;
    margin-right: 18px;
    font-size: 22px;
    transition: text-decoration 1s, font-weight 3s;
}

.link-active {
    text-decoration: none;
}

.navbar-menu li a:hover {
    font-weight: bolder;
    text-decoration: underline solid blue;
}

.header {
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 5px 10px;
    background-color: #cfcbcb48;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: -5px -5px 10px blue;
}

.logo-section {
    margin-right: 150px;
}

.logo-section img {
    cursor: pointer;
    border-radius: 50px;
    transition: box-shadow 1s;
}

.logo-section img:hover {
    box-shadow: 6px 5px 20px -5px blue;
}

/* Body section */
.main-body {
    background-color: inherit;
    margin-top: 510px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.click-me-btn {
    padding: 10px;
    margin: 10px;
    font-family: monospace, sans-serif;
    font-style: oblique;
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid green;
    transition: 0.3s font-weight, 0.8s color, border-color 0.8s;
}

.click-me-btn:hover {
    font-weight: bolder;
    color: rgb(101, 231, 14);
    border-color: blue;
}

/* About-me */
.bio {
    display: flex;
    flex-flow: nowrap;
}

.author-figure {
    border-right: 1px solid blue;
    border-radius: 2px;
    box-shadow: 5px 10px 15px 10px rgba(45, 45, 223, 0.616);
    border-bottom-right-radius: 30px;
    border-top-left-radius: 15px;
    display: flex;
}

.figure-picture {
    width: 200px;
    border-radius: inherit;
    height: 200px;
}

.figure-caption {
    font-family: ; /* calling-code, roboto, mollen, jarene, */
}
